<h1>You Did It, Now Go Bang Some Hoes</h1>


<p><strong>
I will be seeing you later!
</p>

<p>
You logged out at <%= @time %>
</p>

<p>
Click
<%= link_to "HERE", say_hello_path %>
to say what's up.
</p>
</strong>